---
title: Tags
---
<div class="small button-group">
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
    <a href="#{{ tag[0] | slugify }}" class="button primary hollow">{{ tag[0] }}</a>
  {% endfor %}
</div>

{% for tag in tags %}
  <h2 id="{{ tag[0] | slugify }}" class="archives-title">{{ tag[0] }}</h2>
  <ul>
    {% for post in tag[1] %}
      <li>
        <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
        <small><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></small>
      </li>
    {% endfor %}
  </ul>
{% endfor %}