---
layout: default
permalink: /
---
<div class="bgimg" style="background-image: url('{{ site.github.url }}/assets/img/bgimg-1.jpg');">
  <div class="row small-9 medium-8 large-5 column">
    <div class="caption">
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>
  <div class="home-module expanded row">
    <div class="medium-4 columns">
      <a class="thumbnail" href="{{ site.github.url }}/about">
        <img src="{{ site.github.url }}/assets/img/about.jpg" alt="About">
      </a>
      <h2 class="text-center"><a href="{{ site.github.url }}/about">About</a></h2>
    </div>
    <div class="medium-4 columns">
      <a class="thumbnail" href="{{ site.github.url }}/blog">
        <img src="{{ site.github.url }}/assets/img/blog.jpg" alt="Blog">
      </a>
      <h2 class="text-center"><a href="{{ site.github.url }}/blog">Blog</a></h2>
    </div>
    <div class="medium-4 columns">
      <a class="thumbnail" href="{{ site.github.url }}/contact">
        <img src="{{ site.github.url }}/assets/img/contact.jpg" alt="Contact">
      </a>
      <h2 class="text-center"><a href="{{ site.github.url }}/contact">Contact</a></h2>
    </div>
  </div>
  <div class="bgimg" style="background-image: url('{{ site.github.url }}/assets/img/bgimg-2.jpg');">
    <div class="row small-9 medium-8 large-5 column">
      {% include carousel.html %}
    </div>
  </div>
  {% include featured.html %}