# Site settings
title: Your awesome title
description: >
             Write an awesome description for your new site here. You can edit this
             line in _config.yml. It will appear in your document head meta (for
             Google search results) and in your feed.xml site description.
url: https://yyl29.github.io/jekyll-blog
copyright: Yan-Yi Li

author:
  name: name
  bio: A short paragraph about you. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  avatar: avatar.jpg
  email: your-email@domain.com
  github: username
  twitter: username

disqus: disqus-shortname
carousel_slides: 4
words_per_minute: 200

# Build settings
sass:
  style: compressed
include: [_pages, _data]
exclude: [Gemfile, Gemfile.lock, LICENSE, Rakefile]
gems: [jekyll-paginate]
permalink: pretty
paginate: 5
paginate_path: "/blog/page:num/"

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"