<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author.name }}">
<meta name="copyright" content="{{ site.copyright }}">

<link rel="stylesheet" href="{{ site.github.url }}/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/motion-ui.min.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/vendor/slick/slick.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/vendor/slick/slick-theme.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
<link rel="canonical" href="{{ site.github.url }}{{ page.url | replace: 'index.html', '' }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.github.url }}/feed.xml">
</head>