<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
</div>

<div class="top-bar" id="menu">
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
      <li><a href="{{ site.github.url }}/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="{{ site.github.url }}/blog">Blog</a></li>
      <li>
        <a href="{{ site.github.url }}/archives">Archives</a>
        <ul class="menu vertical nested">
          <li><a href="{{ site.github.url }}/archives">By Dates</a></li>
          <li><a href="{{ site.github.url }}/archives/categories">By Categories</a></li>
          <li><a href="{{ site.github.url }}/archives/tags">By Tags</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
      <li><button type="button" id="search" class="button"><i class="fa fa-search"></i></button></li>
    </ul>
  </div>
</div>