<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><i class="fa fa-caret-left fa-lg"></i></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span><i class="fa fa-caret-right fa-lg"></i></button>
    {% for slide in site.data.slides %}
      <li class="{% if slide.slide == 0 %}is-active {% endif %}orbit-slide">
        <div class="caption">
          <p class="text-center">{{ slide.content }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
  <nav class="orbit-bullets">
    {% for slide in site.data.slides %}
      {% if slide.slide == 0 %}
        <button class="is-active" data-slide="0"><span class="show-for-sr">{{ slide.description }}</span><span class="show-for-sr">Current Slide</span></button>
      {% else %}
        <button data-slide="{{ slide.slide }}"><span class="show-for-sr">{{ slide.description }}</span></button>
      {% endif %}
    {% endfor %}
  </nav>
</div>