.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.post-list, .post, .post-comments, .archives-dates, .archives-categories, .archives-tags, .about, .contact, .thanks, .page-missing {
  background: $white;
  margin-bottom: 1rem;
  padding: 1rem;

  @media #{$medium-only} {
    margin-bottom: 1rem;
    padding: 2rem;
  }

  @media #{$large-up} {
    margin-bottom: 1rem;
    padding: 5rem;
  }
}