.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.grid-inner {
  background-color: $white;
  margin-bottom: 1rem;
  padding: 1rem;

  @media #{$medium-only} {
    padding: 2rem;
  }

  @media #{$large-up} {
    padding: 5rem;
  }
}

nav a {
  color: $secondary-color;
}

.post-meta {
  color: $dark-gray;
}

.archives-header {
  font-size: $global-font-size * 1.5;
}

.aside {
  padding: 2rem;
  font-size: $global-font-size * 0.9;
}

.aside-header {
  font-size: $global-font-size * 1.25;
  font-weight: bold;
}

.pagination > li {
  background-color: $white;
}

.footer {
  background-color: darken($primary-color, 20%);
  color: lighten($primary-color, 20%);
}