.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.grid-inner {
  background-color: $white;
  margin-bottom: 1rem;
  padding: 1rem;

  @media #{$medium-only} {
    padding: 2rem;
  }

  @media #{$large-up} {
    padding: 5rem;
  }
}

.aside {
  padding: 2rem;
}

.footer {
  background-color: $primary-color;
  color: $white;
}