<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %}

    {% include search.html %}

    <div class="row medium-8 large-7 columns">
      {{ content }}
    </div>

    <script src="{{ site.github.url }}/js/vendor/jquery.min.js"></script>
    <script src="{{ site.github.url }}/js/vendor/what-input.min.js"></script>
    <script src="{{ site.github.url }}/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>