<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    <header class="site-header">
      <h1 class="site-title"><a href="{{ site.github.url }}/">{{ site.title }}</a></h1>
      <div class="row medium-10 large-11 column">
        <nav class="site-nav">
          {% include nav.html %}
          {% include search.html %}
        </nav>
      </div>
    </header>
    <main>
      {{ content }}
    </main>

    <footer class="footer">
      <div class="row column">
        {% include social.html %}
      </div>
      <div class="row column">
        &copy; {{ site.time | date: "%Y" }} {{ site.copyright }}
      </div>
    </footer>

    {% include scripts.html %}
  </body>
</html>