<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include nav.html %}

    {% include search.html %}

    <div class="row medium-10 large-9 columns">
      {{ content }}
    </div>

    <script src="{{ site.github.url }}/assets/js/vendor/jquery.min.js"></script>
    <script src="{{ site.github.url }}/assets/js/vendor/what-input.min.js"></script>
    <script src="{{ site.github.url }}/assets/js/foundation.min.js"></script>
    <script src="{{ site.github.url }}/assets/js/main.js"></script>
  </body>
</html>