---
layout: grid-default
---
<article class="grid-inner">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    {% include post-meta.html %}
  </header>
  <section class="post-content">
    {{ content }}
  </section>

  <hr>
  <footer class="post-footer">
    <p>
      <small>Filed under:
        <a href="{{ site.github.url }}/archives/categories/#{{ page.categories[1] | slugify }}">{{ page.categories[1] }}</a>
      </small>
    </p>
    <div class="small button-group">
      {% for tag in page.tags %}
        <a class="button primary hollow" href="{{ site.github.url }}/archives/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </footer>
</article>

{% if page.comments %}
  {% include disqus.html %}
{% endif %}